body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.diamond-icon {
  width: 30px;
  height: 50px;
}

.title {
  font-size: 30pt;
}

.title-view {
  gap: 30px;
}

@media (max-width: 600px) {
  .diamond-icon {
    width: 15px;
    height: 25px;
  }

  .title {
    font-size: 15px;
  }

  .title-view {
    gap: 15px;
  }
}