body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.diamond-icon {
  width: 30px;
  height: 50px;
}

.title {
  font-size: 28pt;
}

.title-view {
  gap: 20px;
}

.suits {
  color: rgb(0,255,255);
  font-size: 2rem;
}

.video {
  width: 30%;
  max-width: 200px;
  border-radius: 24px;
  box-shadow: 0px 0px 14px rgb(0,255,255);
}

@media (max-width: 600px) {
  .diamond-icon {
    width: 24px;
    height: 40px;
  }

  .title {
    font-size: 24px;
  }

  .title-view {
    gap: 15px;
  }

  .video {
    width: 50%;
  }
}